
body {
        background-color: lavenderblush;
        background-image: url("PIC.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

    }
        .d
        {
            height: 5cm;
            width: 5cm;
            border-radius: 50%;
            border-color: brown;
            border-width: 30px;
            border-style: solid;
        

        }
        .e
        {
            background-color: crimson;
        }
        .f
        {
            float: left;
            margin-left: 30px;
        
        }
        
        h2{
            margin-left:30px ;
            color: green;
        }
        .g{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: end;
            margin-block-start: 20px;
        }
        h1{
            color: darkred;
            border: 5px solid black;
            border-radius: 10px;
        }
        div.p {
            border: 1px solid black;
            outline-style: solid;
            outline-color: black;
            outline-width: thin;
            padding: 50px 50px 75px 75px;
            margin: 25px 50px 25px 50px;
        }
        
        
        
        
